<ngb-carousel class="custom-carousel" [showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="showNavigationIndicators">
  <ng-template ngbSlide *ngFor="let product of products">
    <div class="container">
      <mat-card>
        <img [src]="product.image" [alt]="product.name" class="carousel-image" />
        <mat-card-content>
          <h4 class="carousel-title">{{ product.name }}</h4>
          <p class="carousel-description">{{ product.description }}</p>
          <h5 class="carousel-price">{{ 'S/' + product.price }}</h5>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="addToCart(product)">Add to Cart</button>
          <button mat-raised-button color="accent" (click)="verDetalleProducto(product.id)"><mat-icon>remove_red_eye</mat-icon></button>
        </mat-card-actions>
      </mat-card>
    </div>
  </ng-template>
</ngb-carousel>





