<app-header></app-header>
<div class="edit">
        <app-sidebar></app-sidebar>
    </div>
<form>    
<div class="datos"> 
    <h1>Asociar metodo de pago</h1>
    <p>Numero de cuenta</p>
    <mat-form-field appearance="fill">
        <mat-label>####</mat-label>
        <input matInput [value]="" >
      </mat-form-field>
    
      <p>Codigo de cuenta interbancaria</p>
      <mat-form-field appearance="fill">
        <mat-label>####</mat-label>
        <input matInput [value]="" >
      </mat-form-field>


      <button mat-raised-button color="primary">Guardar</button>
</div>
    
    
</form>
