<div class="page-container">
    <app-header></app-header>
  
    <div class="content-container">
      <div class="sidebar-container">
        <app-sidebar></app-sidebar>
      </div>
  
      <div class="card-container">
        <h1>Productos Entregados</h1>
  
        <div class="card">
          <img src="/assets/imagnes/pantuflas.jpg" alt="Imagen 1">
          <h3>Pantuflas</h3>
          <p>Precio: $35.00</p>
          <button class="add-button">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="add"></mat-icon>
          </button>
        </div>
  
        <div class="card">
          <img src="/assets/imagnes/polera.jpeg" alt="Imagen 2">
          <h3>Polera</h3>
          <p>Precio: $40.00</p>
          <button class="add-button">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="add"></mat-icon>
          </button>
        </div>
  
        <div class="card">
          <img src="/assets/imagnes/perfume.jpeg" alt="Imagen 3">
          <h3>Perfume</h3>
          <p>Precio: $90.00</p>
          <button class="add-button">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="add"></mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
  
