<div class="contenedor">
  <mat-toolbar color="primary" style="background-color: #FFFFFF;">
  <div class="navbar-container">
    <img src="/assets/imagnes/logo.jpg" alt="logo" class="logo-image">
    <span class="fill-space"></span>
    <div class="search-box">
      <mat-form-field appearance="outline">
        <mat-label>Buscar</mat-label>
        <input matInput type="text">
        <button mat-button matSuffix>
          <mat-icon style="color:#ADD8E6;">search</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <span class="fill-space"></span>
    <div class="nav-icons">
      <button mat-icon-button>
        <mat-icon style="color:#000080;">notifications</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon style="color:#000080;">shopping_cart</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon style="color:#000080;">person</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>
</div>



