.principal {
  display: flex;
  background-color: #edf4fe;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.box_registro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 50vw;
  height: auto;
  background-color: #ffffff;
  filter: drop-shadow(47.1084px 88.2088px 80px rgba(21, 63, 101, 0.07))
    drop-shadow(30.5332px 57.1724px 46.8519px rgba(21, 63, 101, 0.0531481))
    drop-shadow(18.1455px 33.9767px 25.4815px rgba(21, 63, 101, 0.0425185))
    drop-shadow(9.42169px 17.6418px 13px rgba(21, 63, 101, 0.035))
    drop-shadow(3.83846px 7.18739px 6.51852px rgba(21, 63, 101, 0.0274815))
    drop-shadow(0.872378px 1.6335px 3.14815px rgba(21, 63, 101, 0.0168519));
  border-radius: 3rem;
  padding: 3rem 3rem;
}

.centrar {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1450px) {
  .box_registro {
    width: 45rem;
  }
}

.datosP {
  display: flex;
  gap: 0.4rem;
}
.datEmpresa {
  display: flex;
  flex-direction: column;
}
.radioBNut {
  display: flex;
  justify-content: center;
}
.registrar {
  display: flex;
  justify-content: center;
}

.text-center {
  text-align: center;
}
