
<div class="principal">
    <div class="centrar">
         <mat-card class="box_registro" >

        <div class="form">
            <mat-card-title class="text-center">                
                <label>¿Haz olvidado tu contraseña?</label>
            </mat-card-title>
            <mat-card-subtitle class="text-center">
               <p>¡No te preocupes! </p>
               <p>Introduce tu dirección de correo electrónico y te enviaremos el enlace para cambiar tu contraseña.</p>
            </mat-card-subtitle>

                <form>  

                    <div class="datEmpresa">
                        <mat-form-field class="example-full-width">
                            <mat-label>Correo</mat-label>
                            <input  matInput formControlName="correo">
                        </mat-form-field>

                        <mat-form-field class="example-full-width" >
                            <mat-label>Nueva contraseña</mat-label>
                            <input type="password" matInput formControlName="new-password">
                        </mat-form-field>
                    </div>

                    <mat-card-footer class="centrar" >
                        <button mat-flat-button color="primary" type="submit">Enviar</button>
                    </mat-card-footer>

                </form>
            
            </div>
            <div class="message text-center">
                <a routerLink="/iniciar_Sesion" routerLinkActive="active" class="form-link"> Inciar sesion</a>
            </div>
    </mat-card>

    </div>
   

</div>
