<mat-toolbar color="primary" style="background-color: #FFFFFF;">
    <img src="/assets/imagnes/logo.jpg" alt="logo">
    <span class="fill-space"></span>
    <mat-form-field class="search-box" appearance="outline">
       <mat-label>Buscar</mat-label>
      <input matInput type="text">
      <button mat-button matSuffix>
        <mat-icon style="color:#ADD8E6;">search</mat-icon>
      </button>
    </mat-form-field>
    <span class="fill-space"></span>
    <button mat-icon-button>
      <mat-icon style="color:#000080;">notifications</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon style="color:#000080;">shopping_cart</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon style="color:#000080;">person</mat-icon>
    </button>
</mat-toolbar>

