<body>
    <main>
        <div class="container">
            
                <img src="../../../assets/img/Recurso 2.png" alt="figura">
       
        </div>


    <div class="box_registro">
        <div class="titulo">
            <img src="../../../assets/img/logo.png" alt="logo">
            <label for="">Bienvenido</label>

        </div>

        <div class="form">
            <form action="">          

                <div class="datEmpresa">
                    <mat-form-field class="example-full-width">
                        <mat-label>Correo electrónico</mat-label>
                        <input matInput>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>Contraseña</mat-label>
                        <input type="password" matInput>
                    </mat-form-field>
                </div>
                

            </form>

            <div class="iniciarSesion">
                <button mat-flat-button color="primary">Iniciar sesión </button>
            </div>
           
        </div>

         <div class="registrar">
            <button mat-button routerLink="/registro" routerLinkActive="active" >Registarme</button>
            <button mat-button routerLink="/#" routerLinkActive="active">Recuperar contraseña. Click aquí</button>
         </div>

    </div>
</main>
</body>